:root {
  --primary-color-back: #FFFFFF;
  --second-color-back: #0500FF;
  --primary-color: #1C1C1C; 
  --second-color: #0500FF;
  --font-family: Helvetica, Neue;
  --font-weight-400: 400;
  --font-weight-600: 600;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
}

body {
  background: #F0F0F0;
  overflow-x: hidden;
}

/* Table desktop */

table {
  border-collapse: collapse;
  text-align: left;
  width: 100%;
  align-items: center;
  background: var(--primary-color-back);
  font-family: var(--font-family);
  font-weight: var(--font-weight-400);
  line-height: 19.09px;
  color: var(--primary-color);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;
}

table thead th {
  padding: 10px;
  font-size: 1em;
  color: white;
  font-weight: 600;
  text-align: center;
  background: var(--second-color-back);
  height: 47px;
  
}

table tbody tr td {
  display: table-cell;
  font-weight: var(--font-weight-400);
  padding: 10px;
  text-align: center;
  position: relative;
  
}

table tbody tr {
  border: none;
  display: table-row;
  border: 1px solid #F0F0F0;
  border-left: none;
  border-right: none;
  border-top: none;
}

table thead {
  display: table-header-group;
  font-weight: 500;
}

table tbody tr td::before {
  display: none;
}


/* table accordion */

.accordion {
  background-color: var(--primary-color-back);
  color: var(--primary-color);
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--font-family);
  
}

.accordion-content {
  display: flex;
  align-items: center;
  gap: 20px;
}

.panel {
  padding: 10px;
  background: var(--primary-color-back);
  display: none;
  overflow: hidden;
  font-family: var(--font-family);
  color: var(--primary-color);
}

.panel-text {
  line-height: 1.5rem;
}

.accordion:after {
  content: '\25BC'; 
  font-size: 13px;
  color: var(--second-color);
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\25B2"; 
}

.header-accordion {
  width: 100%;
  height: 47px;
  background: var(--second-color-back);
  padding: 14px;
  font-family: var(--font-family);
  color: white;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.54px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.span-2 {
  margin-left: 20px;
}

.circle {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: var(--primary-color-back);
}

/* INPUT */

.label {
  position: relative;
  display: block;
  width: 300px;
  display: flex;
  border-radius: 6px;
  border: 1px solid #DFDFDF;
  padding: 15px 8px 15px 10px;
  text-align: left;
  background: var(--primary-color-back);

  .icon {
    position: absolute;
    top: 53%;
    right: 0;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease;
    color: #DFDFDF;
  }

  .input {
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 16px;
    
  }
}


.wrapper-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  margin-top: 20px;
}

.wrapper-input > p {
  color: var(--primary-color);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 24.42px;
}


@media screen and (max-width: 800px) {
  .wrapper-input {
    flex-direction: column;
    gap: 15px;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    
  }
  .InputContainer {
    width: 100%;
  }
  .label {
    width: 100%;
  }
 
}

/* Header */

.header {
  width: 100%;
  height: 60px;
  overflow: hidden;
  background: var(--primary-color-back);
  display: flex;
  align-items: center;
  padding: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.wrapper-components {
  padding: 20px;
}



